@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET DA PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:'Poppins', sans-serif;
}

body {
    overflow: hidden;
    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1rem;
}
.background {
    background: linear-gradient(rgba(231, 159, 233, 0.63), rgba(248, 0, 194, 0.5));
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right ;
    width: 100%;
    height: 135vh;
}

/* CONFIGURÇÕES DO HEADER */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 1rem;   
}

.logo {
    height: 50px;
    width: 50px;
    background: transparent;
    border: 1px solid #d659a2c9;
    color: #d659a2c9;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    background: #d659a2c9;
    border: 1px solid #ffffff;
    color: #ffffff;

}

.cabeçalho-link {
    display: flex;
    gap: 5px;
    font-weight: 500;
    cursor: pointer;
   
}

.cabeçalho-link a {
    color: #000;
    font-size: 18px;
   
       
}

.cabeçalho-link a:hover {
    color: #d659a2c9;
    transition: 0.5s all ease-in-out;   
  

}


button {
    color: #d659a2c9;
    background: transparent;
    border: solid 1px #d659a2c9;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    width: 150px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    
}

button:hover {
    background-color: #d659a2c9;
    color: #ffffff;
    
}


fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #d659a2c9, 0.6;

}

#modal {
    position: fixed;
    left: 0;
    top: 0;
    transform: tranlate(-50%, -50%);
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
         
}

#modal-content {
    margin: 15% auto;
    padding: 20%;
    border: 1px solid #d659a2c9;
    width: 50%;
}

.fechar {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.fechar:hover, 
.fechar:focus {
    color: #d659a2c9;

}

/* CONFIGURAÇÕES SUBMENU / DROPDOWN */

.dp-menu ul {
    list-style-type: none;
    padding: 0;
    
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition:all .5s ease-in-out;
   
}

.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
    transition: all .5s ease-in-out;

}

.dp-menu ul li:hover ul {
    display: block;   
}

.dp-menu ul ul {
    width: 125px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 6px rgb(0, 0, 0, 0.5);
}

.dp-menu ul ul li{
    display: block;
    text-align: left;
    
}


/* CONFIGURAÇÕES DO MAIN */
.container-text {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.text h3 {
    color: #000;
    font-size: 22px;
    
}

.text h1 {
    color: #000;
    margin-top: 10px;
    font-size: 40px;
    
}

.text span {
    color: #d659a2c9 ;
}

.text p {
    color: #000;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.redes-sociais a i{
    color: #d659a2c9;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 10px;
}

.btn-about {
    margin-top: 30px;
}


.edi-image{
    width: 400px;
   
}

@media (max-width: 768px) {
    
   
   
  }